.dateOfBirth {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
.dateOfBirth label {
  width: 160px;
}
.dateOfBirth select {
  min-width: 8% !important;
  width: 30% !important;
}
@media (max-width: 768px) {
  .dateOfBirth {
    width: 100%;
    /* flex-direction: column; */
    gap: 10px;
  }
}
