.sidebar-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 280px;
  min-height: 85svh;
  background-color: #f0f8f5;
  position: relative;
  transition: all 0.4s ease;
}

.sidebar-container.collapsed {
  width: 60px;
}

.menu {
  margin: 70px 0 0 0;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 10px;
}

.menu-item,
.menu-icon {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 15px 20px;
  font-size: 18px;
  color: #343434;
  /* border-radius: 12px; */
  text-decoration: none; /* Remove underline for links */
  transition: all 0.3s ease;
  cursor: pointer;
}
.menu-icon {
  padding: 18px 14px;
}
.menu-item.active {
  background-color: #e5b300b7;
  color: #000000;
}

.menu-item.active svg {
  color: #000;
}

.menu-item:hover {
  color: #e5b300 !important;
}
.menu-item.active * {
  transition: all 0.5s ease;
  color: #ffffff !important;
}

.menu-icon {
  position: absolute;
  top: 0px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.menu hr {
  border: none;
  border-top: 2px solid #cccccc;
  margin: 0;
}
.logout-button {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 20px;
  font-size: 18px;
  color: #333;
  cursor: pointer;
  transition: all 0.3s ease;
}

.logout-button:hover {
  color: #e5b300 !important;
}

.sidebar-container.collapsed .menu-item span,
.sidebar-container.collapsed .logout-button span {
  opacity: 0;
  visibility: hidden;
}
@media (max-width: 880px) {
  .sidebar-container {
    max-height: 130svh;
  }
}
@media (max-width: 375px) {
  .downloadBox {
    flex-direction: column !important;
    text-align: center !important;
    justify-content: center !important; /* override bootstrap justify-content-between */
  }

  .downloadBox .buttonContainer {
    width: 100% !important;
    justify-content: center !important;
    margin-top: 10px !important;
  }

  /* Fix inner container alignment too */
  .downloadBox > div {
    width: 100% !important;
    justify-content: center !important;
  }
}
