.formHeaderCard {
  min-height: 150px;
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.formHeaderIcon {
  background-color: #929292;
  padding: 10px;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  color: #ffffff;
}
.formHeaderInner {
  display: flex;
  align-items: center;
  justify-content: center;
}
.formHeaderInner p {
  color: #646464;
  font-size: 0.8rem;
  margin-bottom: 5px;
  text-align: start;
}
.formHeaderCard h6 {
  font-size: 0.9rem;
  margin-bottom: 8px;
}
@media (max-width: 865px) {
  .formHeaderCard {
    flex-direction: column;
    gap: 20px;
  }
}
