.admissionSection {
  display: flex;
  min-height: 80vh;
  background-color: #fefdfd;
  gap: 20px;
  padding: 20px;
}

/* Form container styling */
.admissionform {
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: auto;
}
.formContainer {
  margin-top: 40px;
}

/* Media query for responsiveness */
@media (max-width: 865px) {
  .margin-left-70 {
    margin-left: -70px;
  }
}
@media (max-width: 865px) {
  .admissionSection {
    gap: 10px;
    padding: 10px;
  }
  .admissionform {
    width: 80%;
  }
}
.formConitainer {
  background-color: #f5f5f5 !important;
  border: 1px solid #ddd !important;
  border-radius: 8px !important;
}
.formInnerContainer {
  width: 100%;
  min-width: none !important;
}

.program-selection-form h4 {
  font-weight: 500;
}

.program-selection-form .form-label {
  font-weight: 600;
}

button.btn-warning {
  background-color: #e5b300;
  border: none;
}

button.btn-warning:hover {
  background-color: #f7c305;
}
.inputContainer label {
  text-align: end;
  width: 25%;
}
.admissionform select,
.admissionform input {
  padding: 2px;
  border: 2px solid #a5a5a5;
  outline: none;
  color: #a5a5a5;
  background-color: #f9f9f9;
}
.inputContainer {
  align-items: center !important;
  justify-content: start !important;
}
.admissionform select {
  max-width: 40% !important;
}
/* .admissionform input {
  min-width: 70%;
  max-width: 70%;
} */

.admissionform select option:first-child {
  color: #a5a5a5;
}

.admissionform select option {
  color: #646464;
}
@media (max-width: 768px) {
  .inputContainer {
    flex-direction: column;
    justify-content: start !important;
    align-items: start !important;
  }
  .inputContainer label {
    text-align: start;
    width: fit-content;
  }
  .admissionform select,
  .admissionform input {
    min-width: 100% !important;
    max-width: 100% !important;
  }
}
.checkInput input {
  min-width: 30px !important;
}
.admissionform input,
.admissionform select {
  color: #2a2a2a;
}
@media (max-width: 375px) {
  .formConitainer h4 {
    font-size: 1rem !important;
  }
}
