.admissionSection {
  display: flex;
  min-height: 80vh;
  background-color: #fefdfd;
  gap: 20px;
  padding: 20px;
}

/* Form container styling */
.admissionform {
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: auto;
}
.formContainer {
  margin-top: 40px;
}
.checkInputContainer {
  padding-left: 50px;
}

/* Media query for responsiveness */
@media (max-width: 865px) {
  .margin-left-70 {
    margin-left: -70px;
  }
}
@media (max-width: 865px) {
  .admissionSection {
    gap: 10px;
    padding: 10px;
  }
  .admissionform {
    width: 80%;
  }
}
.formInnerContainer {
  width: 100%;
  min-width: none !important;
}

.program-selection-form h4 {
  font-weight: 500;
}

.program-selection-form .form-label {
  font-weight: 600;
}

button.btn-warning {
  background-color: #e5b300;
  border: none;
}

button.btn-warning:hover {
  background-color: #f7c305;
}
.inputContainer label {
  text-align: end;
  width: 25%;
}
.admissionform select,
.admissionform input {
  padding: 2px;
  border: 2px solid #a5a5a5;
  outline: none;
  color: #a5a5a5;
  background-color: #f9f9f9;
}
.inputContainer {
  align-items: center !important;
  justify-content: start !important;
}
.admissionform select {
  max-width: 40% !important;
}
/* .admissionform input {
  min-width: 70%;
  max-width: 70%;
} */

.admissionform select option:first-child {
  color: #a5a5a5;
}

.admissionform select option {
  color: #646464;
}
@media (max-width: 768px) {
  .inputContainer {
    flex-direction: column;
    justify-content: start !important;
    align-items: start !important;
  }
  .inputContainer label {
    text-align: start;
    width: fit-content;
  }
  .admissionform select,
  .admissionform input {
    min-width: 100%;
    max-width: 100%;
  }
  #sameAsFather {
    min-width: 15px !important;
    min-height: 15px !important;
  }
  .checkInputContainer {
    padding-left: 0px;
  }
}
.checkInput input {
  min-width: 30px !important;
}
.admissionform input,
.admissionform select {
  color: #2a2a2a;
}
@media (max-width: 375px) {
  .formConitainer h4 {
    font-size: 1rem !important;
  }
}
.image-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.fullscreen-image {
  max-width: 90%;
  max-height: 90%;
  object-fit: contain;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(255, 255, 255, 0.2);
}
.form-container {
  width: 850px;
  background: white;
}

.photo-box {
  width: 90px;
  height: 90px;
  border: 2px solid black;
  margin: auto;
}

.qr-box {
  width: 80px;
  height: 80px;
  border: 1px solid black;
  float: right;
}

.section-title {
  background: #000;
  color: white;
  padding: 5px 10px;
  font-weight: bold;
  margin-top: 5px;
  border: 1px solid black;
}

.table th,
.table td {
  border: 1px solid #000 !important;
}

.passport-photo {
  width: 120px;
  height: 140px;
  border: 1px solid black;
  margin: auto;
}
.challan-container {
  margin-top: 20px;
  max-width: 1300px;
}

.challan-column {
  border: 1px solid black;
  padding: 0;
}

.challan-table td {
  border: 1px solid black !important;
  font-size: 12px;
  padding: 2px 4px;
}

.logo-box {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 1px solid black;
  margin: auto;
}

.qr-box {
  width: 55px;
  height: 55px;
  border: 1px solid black;
  float: right;
}

.table {
  margin-bottom: 0;
}
