@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
#root {
  width: 100%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
html {
  scroll-behavior: smooth;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #efefef;
}

/* ### Customize scrollbar ### */

/* Width */
::-webkit-scrollbar {
  width: 0px;
}

/* ### BUTTON CONTAINER AND COMMON BUTTON STYLE ### */
.buttonContainer {
  display: flex;
  justify-content: space-between;
  width: fit-content;
  column-gap: 15px;
}

.buttonContainer .button {
  position: relative;
  padding: 5px 15px;
  border: 2px solid #e5b300;
  font-weight: 500;
  font-size: 0.8rem;
  transition: all 0.35s ease;
  background: none;
  cursor: pointer;
  text-decoration: none;
  overflow: hidden;
  z-index: 2;
}

/* ### BUTTON FILLED STYLE ### */
.buttonFilled {
  color: #ffffff;
}

.buttonFilled::before {
  transition: all 0.35s ease;
  content: "";
  width: 100%;
  height: 100%;
  background: #e5b300;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.buttonFilled:hover::before {
  height: 0%;
}

.buttonFilled:hover {
  color: #000000;
}

/* ### BUTTON NOT FILLED STYLE ### */
.buttonNotFilled {
  color: #111111;
}

.buttonNotFilled::before {
  transition: all 0.35s ease;
  content: "";
  width: 100%;
  height: 0;
  background: #e5b300;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}

.buttonNotFilled:hover::before {
  height: 100%;
}

.buttonNotFilled:hover {
  color: #ffffff;
}
